[user]
	name = Veit Lehmann
	email = levito82@gmail.com
	signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCojVAWCkauwifJ2hMwk2FNIAOuwfEi8TGrTZjSFNbJaDRigS2N4NeAQkB7aWNoLWOuviQxjrvF8sKfU93ahdIu5n9VnclkqdyCsmoGGO7DyM2pIyMQ14awDpjnsBw/MTFiB/QxNcAx8P63/FmZ/3zyaLGEK86nwYxZ2JmX/oh9aBGOdutuSKxqxv0QbWEkh2RYuzMt8ZXsxxKFwN8pRGNZa997d0YeNlWS3jKwbcniq4V1G2ouVIEtOCwW2A/4k7J1RpnG77kNp5JTv4mq7ayD7UFfwNjmd2aAwfLsCDieVeabWyZHwHtN21rjY/Zaw+Powuz6zvfuC02Pf4TUyC8lqBGVDS58m/lC/YwMKJoEYB325ZJNZ7i2J/tNLD+r9L272Z99TOcK5gYQcd06aY/8QLA6vLpRs4jbNbM0ND+7RcD3rEMpvrEe9vg0vyVj5N99dncIR+/nTKQevci5HT914hoNlZ+RW+WAlrMYPA0F40hpkfDFx3Yavfbvgp8B/jrXisaL9pV/RhQPRyJxRc9TO/AWeuKA8MLXqlhncp7e3MqjXw2GyaG7ca5fmInrL3/JprV0xMS295x9zoe7CP1Tdo9ER2LpKBcSgTN3ODHjK8hIMwBsajmOcQjbC6EFmfiXUpT3gS91LMIN+AuCrcK/g3cRclDuMLhdwETtS72ptw==
[commit]
	gpgsign = true
[core]
	excludesfile = ~/.gitignore_global
	editor = micro
	pager = delta --dark
	trustctime = false
[credential]
	helper = osxkeychain
[delta]
	syntax-theme = Visual Studio Dark+
[gpg]
	format = ssh
[difftool "kdiff3"]
	path = /usr/local/bin/kdiff3
[mergetool "kdiff3"]
	path = /usr/local/bin/kdiff3
[merge]
	renamelimit = 20000
	conflictstyle = diff3
	tool = kdiff3
[merge "npm-merge-driver"]
	name = automatically merge npm lockfiles
	driver = npm-merge-driver merge %A %O %B %P
[pull]
	default = current
	rebase = true
[push]
	default = simple
[rebase]
	autostash = true
[rerere]
	enabled = true
# [url "git@github.com:"]
# 	insteadOf = https://github.com/
[alias]
	aa = add -A
	aam = !git add -A && git commit -v --amend
	ac = !git add -A && git commit -m
	acp = !git add -A && git commit -m \"$1\" && git push origin && echo >/dev/null
	ap = add -p
	az = !git add -A && git cz
	bav = branch -av
	bd = branch -D
	brd = branch -rd
	bu = branch -u
	bv = branch -v
	cam = commit -v --amend
	cdf = clean -df
	cdfx = clean -dfx
	cfu = commit -v --fixup
	ch = cherry-pick -x
	ci = commit -m
	cia = commit -am
	cv = commit -v
	cza = cz -a
	co = checkout
	cob = checkout -b
	dci = duet-commit -m
	dcv = duet-commit -v
	drv = duet-revert
	dmg = duet-merge
	drb = rebase -i --exec 'git duet-commit --amend'
	di = diff
	ds = diff --staged
	fe = fetch
	fm = !git fetch origin master:master && git rebase origin/master
	lg = log --graph --format='%cd %C(yellow)%h%C(red bold)%d%C(blue bold) [%an]%Creset %s' --date=short --abbrev=10
	lga = log --graph --format='%cd %C(yellow)%h%C(red bold)%d%C(blue bold) [%an]%Creset %s' --date=short --abbrev=10 --all
	lo = log
	mm = !git fetch origin master:master && git merge origin/master
	po = push origin
	pu = pull origin
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase -i --autosquash
	rbm = rebase master
	rbs = rebase --skip
	rmc = rm --cached
	sa = stash apply
	sd = !git stash show -p stash@{$1=0} && echo >/dev/null
	si = submodule init
	sl = stash list
	sp = stash pop
	sr = "!_() { rev=$(git rev-parse $1) && git stash drop $1 || exit 1 ; git diff-index --quiet HEAD; s=$?; [ $s != 0 ] && git stash save \"tmp stash from stash-rename\"; git stash apply $rev && shift && git stash save \"$@\" && [ $s != 0 ] && git stash pop stash@{1}; }; _"
	ss = stash save
	ssk = stash save -k
	ssu = stash save -u
	ssku = stash save -ku
	st = status
	su = submodule update
	sui = submodule update --init
	sur = submodule update --remote

	publish = !git push origin HEAD:refs/publish/$1
	draft = !git push origin HEAD:refs/drafts/$1
	pum = push origin HEAD:refs/publish/master
	drm = push origin HEAD:refs/drafts/master

	work = config user.email \"veit.lehmann@jimdo.com\"
	home = config user.email \"levito82@gmail.com\"
